body{
    font:13px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0 ;
    background-color:#f4f4f4;
    
    }
section{
    width: 90%;
    margin:auto;
    overflow: hidden;
    text-align:
    }
.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding:0;
}
header{
    background:#e8491d;
    color:#ffffff ;
    padding-top:30px;
    min-height:70px;
    font-size:15px;
    border-bottom:#35424a 5px solid;
    
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    text-weight:bold;
    font-size:12px;
}
header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
} 
header #branding{
    float: left;
}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top:10px;
}
header .current a{
    color: blue;
    font-weight:bold;  
}
header a:hover{
    color:#13044e;
    font-weight:bold;
}
header h1{
    float: right;
    font-size:30px;
}
.button{
    height:70px ;
    background:#e8491d ;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
    position: center;
    
}
#branding{
    text-align: center;
}
.button a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:10px;
    font-weight:bold;
   
}


h2{
    text-align: center;
}
.center{
    text-align: center;
    }
    
    
    
               /* fifa 16 mod 24 */

.orange{
    color: red;
}

}
section h1{
    text-align: center;
    font-size:30px;
}
#purple{
    color: ;
}
section .wide{
    border: white solid;
    width:330px;
    font-size:20px;
    line-heighg:25px;
    padding: 10px 0;
    border-radius:25px;
    cursors: pointer;
    text-align: center;
    background: purple ;
    margin-top:20px;
    margin-right:10px;
    
}
.wide a{
    color: #ffffff;
    text-decoration:none;
    font-weight:bold;
    font-size:15px;
}
section a{
    text-decoration:none;
    font-weight:bold;
    color: blue;
}
footer{
    background: #35424a;
    color:#ffffff ;
    padding-top:30px;
    min-height:150px;
    font-size:13px;
    text-align: center;
}
footer a{

}
.blue a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:13px;
    font-weight:bold;
    
}
.blue{
    border: white solid;
    width:115px;
    font-size:15px;
    line-heighg:25px;
    padding: 10px 0;
    border-radius:20px;
    cursors: pointer;
    text-align: center;
    background: blue;
    margin-top:20px;
    float: ;
    margin-top:5px;
}
.green a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:17px;
    font-weight:bold;
    
}
.green{
    border: white solid;
    width:115px;
    font-size:20px;
    line-heighg:25px;
    padding: 10px 0;
    border-radius:;
    cursors: pointer;
    text-align: center;
    background: green;
    margin-top:20px;
    float: ;
    margin-top:5px;
}
.us{
    text-align: center;
}
#id{
    text-align: center;
}
summary{
    color: blue;
    font-weight:bold;
}
.line a{
    text-decoration:none;
    color: gold;
}
h3{
    text-align: center;
}
#message{
    background: #35424a;
    color:#ffffff ;
    padding-top:30px;
    min-height:150px;
    font-size:15px;
    text-align: center;
    
    
}
.bt{
    
    width:80px;
    font-size:20px;
    line-heighg:25px;
    padding: 10px 0;
    cursors: pointer;
    text-align: center;
    background: gold;
    margin-top:20px;
    margin-top:5px;
   
}
.center .button{
    
}
section #red{
    color: red;
}
.menu a{
    
    font-weight:bold;
    font-size:12px;
    
}
.ash{
    background: #ffe795;
}
.wide a:hover{
    color:#e8491d;
    font-weight:bold;
}
.max img{
    max-width:100%;
    height: auto;
}

button.wide {
    display: block;
    margin: 0 auto;
}
section.menu {
    display:block;
    text-align: center;
    margin: 0 auto;
}
#img img{
     display: block;
     margin: 0 auto;
 }
#id a{
    color: green;
}
h1{
    text-align: center;
    font-size:25px;
      
    }
#datetime-display{
    text-align: center;
    margin-top:10px;
    color: #e8491d;
    font-weight:bold;
}







